<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LipsumHub Automation">
    <listeners>
        <listener class-name="qa.listeners.MyListeners" />
    </listeners>
    <test thread-count="5" name="Test">
        <classes>
            <class name="qa.testcases.LanguageWithUrlTest"/>
            <class name="qa.testcases.FoodCategoryTest"/>
            <class name="qa.testcases.SportsCategoryTest"/>
            <class name="qa.testcases.EntertainmentCategoryTest"/>
            <class name="qa.testcases.TechnologyCategoryTest"/>
            <class name="qa.testcases.NatureCategoryTest"/>
            <class name="qa.testcases.VehicleCategoryTest"/>
            <class name="qa.testcases.GeneralCategoryTest"/>
            <class name="qa.testcases.AllUrlWithStatusCodeTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
